<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is the person's name </h1>
    <h1><%= @user.name %></h1>

    <h1>This is the person's email </h1>
    <h1><%= @user.email %></h1>

    <h1>This is the person's message </h1>
    <p><%= @user.message %></p>
    <!-- <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p> -->
  </body>
</html>