<head>
  <title>LP Software Consulting</title>
  <!-- <link href="styles.css" rel="stylesheet" type="text/css"> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="https://use.fontawesome.com/d2a4a2be39.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        
</head>
<body>
  <div class="background-image">
    <nav class="home-navigation">
      <ul class="navigation-links">
        <li class="navigation-item">
          <a class="nav-links logo-nav" href="#lp-landing">LP</a>
        </li>
        <li class="navigation-item">
          <a class="nav-links" href="#about-us">About Us</a>
        </li>
        <li class="navigation-item">
          <a class="nav-links" href="#what-we-do">What we do</a>
        </li>
        <li class="navigation-item">
          <a class="nav-links" href="#tech-we-use">Technolgies We Use</a>
        </li>
      </ul>
    </nav>
    <div class="offset-1"></div>
    <div class="slog-desc">
    </div>
     <div class="offset-2"></div>
    <div class="slog-desc" id="lp-landing">
      <span class="slogan-descript logo-center">LP</span><br>
      <span class="slogan-descript">LP Software Consulting Inc.</span><br><br>
      <span class="slogan-descript-2">Leaders in Tech Innovation</span>
    </div>
  </div>


  <div class="container">
    <div class="offset-2"></div>
    <h1 class="center-header">What We Do</h1>
    <div class="offset-2"></div>
    <div class="row descript" id="what-we-do">
      <div class="col-sm-4">
        <h3>Planning and Research</h3>
        <div class="offset-2"></div>
        <i class="fa fa fa-binoculars fa-5x" aria-hidden="true"></i>
        <div class="descript-text">
         Planning and Research are crucial for any project and that philosophy is something we abide by here at LP Software Consulting. We perform in-depth investigations on all aspects of the business and product that we are dealing with in order to deliver the best solution. From Market Research to stakeholder analysis to software auditing, we do not shy away from diving head first into any project.  
        </div>
      </div>
      <div class="col-sm-4">
        <h3>Design</h3>
        <div class="offset-2"></div>
        <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
        <div class="descript-text">
          At LP Software Consulting, we take pride in designing applications with elegant User Interface paired with a seemless User Experience that will make your application easy to use. We use the best tools in the business to align your product with the latest design trends.   
        </div>
      </div>
      <div class="col-sm-4">
        <h3>Coding</h3>
        <div class="offset-2"></div>
        <i class="fa fa-code fa-5x" aria-hidden="true"></i>
        <div class="descript-text">
         The coding part of any product development process brings life to the product and at LP Software Consulting, we ensure your product is seemless. We use the latest in technology to deliver timely results while also ensuring that the software performs without any errors. 
        </div>
      </div>
    </div>
    <div class="offset-2" style="border-bottom:solid"></div>
    <div class="offset-2"></div>

    <h1 class="center-header">About Us</h1>
    <div class="row descript" id="about-us">
      <div class="col-sm-12">
        <h4 class="center-header">"Combining leading-edge business strategy and IT knowledge, to develop efficient and effective solutions that keep businesses one-step ahead"</h4>
        <div class="descript-text">
         LP consulting was founded in July 2017 and has since been expanding. In a short amount of time we have delivered quality products with great customer satisfaction. We are currently looking to take on more projects and help businesses grow. We have developed applications for Emergency responders such as fire fighters and police officers to communicate effectively which are being used in realtime. We have also worked with Print-A-Pal, a company that specializes in 3D printing technology. 
        </div>
      </div>

      <div class="col-sm-12">
        <div class="portfolio">
          <div class="tiles">
            <div class="tile-flipper">
              <div class="tiles-front command-wear">
                <span class="tiles-text">k         </span>
              </div>
              <div class="tiles-back">
                <span class="tiles-text">k</span>
                <div class="company-info">
                  Realtime GPS tracking and communication app used by emergency responders such as Firefighter, Police Officers and Paramedics
                </div>
                <a href="http://commandwear.com">CommandWear</a>
              </div>
            </div>
          </div>

          <div class="tiles">
            <div class="tile-flipper">
              <div class="tiles-front print-a-pal">
                <span class="tiles-text">k         </span>
              </div>
              <div class="tiles-back">
                <span class="tiles-text">k</span>
                <div class="company-info">A 2D drawing application that renders 3D images that can also produce files for 3D printing </div>
                <a href="http://printapal.com">Print-a-Pal</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="offset-2" style="border-bottom:solid"></div>
    <div class="offset-2"></div>

    <h1 class="center-header">Technolgies We Use</h1>
    <div class="row descript" id="tech-we-use">
      <div class="col-sm-3">
        <img src="images/ror-logo.png" alt="ruby on rails icon" width="150" height="150">
      </div>
      <div class="col-sm-3">
        <img src="images/php.png" alt="php icon" width="150" height="150">
      </div>
      <div class="col-sm-3">
        <img src="images/angularjs.png" alt="angular icon" width="150" height="150">
      </div>
      <div class="col-sm-3">
        <img src="images/ember.png" alt="ember icon" width="150" height="150">
      </div>
    </div>

    <div class="offset-2" style="border-bottom:solid"></div>
    <div class="offset-2"></div>

    <h1 class="center-header">Contact</h1>
    <div class="row descript" id="what-we-do">
      <div class="row">
        <div class="col-sm-12 email-contact">
          <input type="text" name="name-homepage" id="name-homepage" placeholder="Name">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 email-contact">
          <input type="text" name="email-homepage" id="email-homepage" placeholder="Email">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 email-contact">
          <textarea class="email-message" name="email-homepage" placeholder="Message" cols="40" rows="6"></textarea>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="g-recaptcha email-recaptcha" data-sitekey="6LcaYy8UAAAAAFWJnXADo3eYFTxa0dl5k7rcLcn1"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 email-contact">
          <button class="submit">Submit</button>
        </div>
      </div>

    </div>
  </div>

  <footer>
    <div class="container">
        <!--FOOTER DETAILS-->
        <p class="text-center">
            © 2017 <strong>LP Software Consulting Inc.</strong>
        </p>
    </div>
</footer>
</body>
<script>
$('.submit').click( function() {
  var name = $('#name-homepage').val() 
  var email = $('#email-homepage').val() 
  var message = $('.email-message').val() 
  var captcha_response = $('.g-recaptcha-response').val()
  $.ajax({
    type: "POST",
    data: {name: name, email: email, message: message, g_response: captcha_response},
    url: "/send_email",
    success: function(msg){
      alert(msg["message"]);
    }
  });
})
</script>