<!DOCTYPE html>
<html>
<head>
  <title>LpConsult</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="hoSY5n1fZFKXA9flZeLCenV-mcNjgAGu4lmgehfIlws" />
</head>
<body>

<%= yield %>

</body>
</html>
